*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
  background-color: #ebf2ff;
}
section {
  margin: 4rem 0;
}
button{
  border: none;
  cursor: pointer;
}
.navbar{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fafc;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}
.navbar__brand{
 width:100px;
 margin-left: 10px;
}
.brand__logo{
  width: 100%;
}
.button__primary {
   background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100% );
   margin: 10px;
   padding: 0.5rem 1rem;
   text-align: center;
   text-transform: capitalize;
   transition: 0.5s;
   font-weight: 600;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   border-radius: 4px;
   display: block;
}
.hero__container{
    margin-top: 1rem;
    margin-left: 100px;
    margin-right: 100px;
}
.container{
  max-width: 100%;
  padding-left:auto;
  padding-right:auto;
  margin-left: auto;
  margin-right: auto;
}
.hero__image__container {
  position: relative;
  width: 60%;
}
.hero__image {
    position: absolute;
    width: 100%;
    right: auto;
    left: auto;
    z-index: 2;
    border-radius: 6px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0/25%);
}
.hero__image__shape{
 position: absolute;
}
.hero__text {
 font-size: 2.5rem;
 line-height: 2.25rem;
 color: #1d3557;
 font-weight: 900;
}
.hero__container{
  margin-top: 1rem;
}
.video__footage__container{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.video__footage{
  position: relative;
}
.video__footage::before{
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100% );
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(1rem,1rem);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.video__footage__text {
    margin-top: 2rem;
    color: #1d3557;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}
.menu_list_container{
  margin-top: 3rem;
  text-align: center;
}

.text-lg {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #1d3557;
  font-weight: 900;
}
.text-xl {
  font-size: 2rem;
  line-height: 2rem;
  color: #1d3557;
  font-weight: 900;
  text-align: center;
}

.food__menu__card__list {
  width: 100%;
}
.food__menu__card {
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
}
.food__menu__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.food__menu__card__image {
  border-radius: 6px 6px 0 0;
  width: 100%;
}
.explore__menu__card__details {
  padding: 1rem;
  text-align: left;
  color: #1d3557;
}

.explore__menu__view__more{
  margin: 2rem 0;
  text-align: center;
  transition: 0.3s;
  color: #fff;
  padding: 1rem;
  border-radius: 6px;
  background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
}
/* Flexxxxxx */
.restaurant__text {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}
.restaurant__images__container {
  width: 100%;
}

.restaurant__images__row__one,
.restaurant__images__row__two {
  width: 100%;
  display: flex;
  gap: 7px;
  grid-row-gap: 10px;
  border-radius:20%;
}

.restaurant__images__row__one {
  align-items: baseline;
  margin-bottom: 3px;
}

.restaurant__image__1,
.restaurant__image__4 {
  width: 100%;
  height: 160px;
}

.restaurant__image__2,
.restaurant__image__3 {
  width: 110%;
  height: 180px;
}

.restaurant__1,
.restaurant__2,
.restaurant__3,
.restaurant__4 {
  width: 100%;
  height: 100%;
}

.sr_box{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    padding-left: 30px;

}
.sr input{
    height: 25px;
    margin-right: 10px;
    background-color: pink;
    border: 1px solid red;
    border-radius: 6px;
}
.image_block{
    width: 80%;
    height: 300px;
    margin-left: 100px;
}

.im_foot img{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  position: absolute;
}


.foot_txt{
    position: relative;
    color: powderblue;
    text-align: center;
    top: 50px;
}

.foot{
    width: 100%;
    height: 250px;
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  display: flex;
  justify-content: space-around;
  border-radius: 15px 15px 0 0;

}

.foot_logo{
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 84px;
}

.foot_list{
    list-style: none;
    color: white;
    padding-top: 35px;
}

.foot_list li{
    padding-top: 8px;
}



@media (min-width: 768px){
.hero__container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.hero__image {
    margin-top: 2rem;
}
.video__footage__container {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video__footage {
    margin-right: 2rem;
}
.video__footage__text {
    margin-left: 2rem;
}
.text-xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.menu__list__container {
  position: relative;
  margin: 5rem 0;
  margin-left: 100px;
  margin-right: 100px;
}
.menu__list__container__diagonal {
  left: 0px;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  transform: skewY(-5deg);
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%);
  z-index: -3;
}

.food__menu__card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2rem;
}
.food__menu__card {
  flex-basis: 30%;
  background-color: #fff;
  border-radius: 6px;
}

.food__menu__card__move__up {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.explore__menu__view__more{
  background: none;
}
.explore__menu__view__more:hover {
  background: #fff;
  color: #dd2476;
  margin: 4rem 20rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.restaurant__container{
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}
.restaurant__text{
  width: 100%;
  font-size: 40px;
}
.sr_box{
    width: 100%;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 500px;
    align-content: center;
}

.sr input{
    width: 290px;
    height: 40px;
    text-align: center;
    background-color: pink;
    border: 1px solid red;
    border-radius: 6px;
}

.sr_txt{
    font-size: 20px;
    padding-bottom: 10px;
}
.image_block{
       width: 80%;
}
.im_foot img{
 width: 80%;
 height: 300px;
 align-content: center;

}


.foot_txt{
position: relative;
color: powderblue;
text-align: center;
top: 100px;
font-size: 40px;
}
.foot{
  margin-top: 50px;
  width: 100%;
}
}
